body{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    font-family: Lucida Calligraphy;
}
.leaf{
    width: 200px;
    height: 100px;
    border-color: rgb(246, 9, 135);
    border-radius: 0px 900px 0px 900px;
    border-width: 5px;
    border-style: solid;
    text-align: center;
    border-style: outset;
    border-bottom-width: 5px;
    border-right-width: 30px;
    border-left-width: 30px;
    border-bottom-width: 5px;
    background-color: rgb(171, 254, 5);
    border-left-color:#F90076 ;
    border-right-color: #00FFFF;
    border-bottom-color:#00FFFF ;
}
.hemisphere{
    width: 200px;
    height: 100px;
    border-width: 20px;
    border-radius: 100px 100px 0px 0px;
    text-align: center;
    border-right-style: groove;
    border-right-color:greenyellow ;
    border-left-style: groove;
    border-left-color:greenyellow ;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color:greenyellow ;
    border-bottom-style: dashed;
    border-bottom-color:greenyellow ;
    border-bottom-width: 5px;
    
}

.Rectangle{
    width: 200px;
    height: 100px;
    border-radius: 100px;
    border-top-style:none ;
    border-bottom-style: none;
    border-right-style: double;
    border-left-style: double;
    border-color: rgb(167, 86, 225);
    border-width: 20px;
   
}

.Bullet{
    width: 250px;
    height: 100px;
    border-color: darkblue;
    border-top-style:groove ;
    border-bottom-style:groove ;
    border-right-style:groove ;
    border-left-style:groove ;
    border-width: 15px;
    border-radius:50px 200px 200px 50px;
    border-top-color: greenyellow;
    border-bottom-color: rgb(21, 160, 215);
    border-right-color: yellow;
    border-left-color: #F90076;
   
}